@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div,
button,
a {
  -webkit-tap-highlight-color: transparent;
}

@font-face {
  font-family: 'graphik';
  src: url('../public/fonts/GraphikRegular.otf');
}

body {
  font-family: sans-serif;
}
