@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div,
button,
a {
  -webkit-tap-highlight-color: transparent;
}

@font-face {
  font-family: 'graphik';
  src: url('../public/fonts/GraphikRegular.otf');
}

body {
  font-family: sans-serif;
}

@media (max-width: 768px) {
  .react-select-container {
    width: 100% !important;
    padding: 0 !important;
  }
}

em-emoji-picker {
  max-height: 358px !important;
  position: absolute !important;
  z-index: 999;
  margin-top: -20px !important;
  margin-left: 30px !important;
  overflow: hidden !important;
}
