.ProseMirror {
  > * + * {
    margin-top: 0.75em;
  }

  ul,
  ol {
    padding: 0 1.5rem;
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }
}

.ProseMirror {
  padding: 14px;
  background: #fff;
  min-height: 11.25rem;
  border-radius: 0.5rem;
  outline: none;
}

ul {
  padding: 0 1.5rem;
  list-style: disc;
}

ol {
  padding: 0 1.5rem;
  list-style: decimal;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #aaa;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
